params {
    bagel_gene_sets = [
        human: [
            core: '/opt2/bagel-2.0-115/CEGv2.txt',
            noncore: '/opt2/bagel-2.0-115/NEGv1.txt'
        ],
        mouse: [
            core: '/opt2/bagel-2.0-115/CEG_mouse.txt',
            noncore: '/opt2/bagel-2.0-115/NEG_mouse.txt'
        ]
    ]
}
